@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.div_principal { 
  width: 100%; 
  height: 1040px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.div_principal::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)), url(img/Imagem_fundo_tela_principal.png);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  opacity: 100%;
  z-index: -1;
}




.imagem_tela_computador_principal {
  width: 1132px; 
}

.botao_tela_principal {
  position: absolute;
  justify-content: center;
  margin-top: 340px;
  margin-left: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.botao_tela_principal:hover {
  transform: scale(1.05); 
}





.div_secundaria {
  background-image: url('img/fundo_div_secundaria.png');
  width: 100%; 
  height: 900px;
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;

  padding-top: 60px;
}



.botoes_div_secundaria {
  height: 140px;
  transition: background 0.4s ease;
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-bottom: 40px;
}

.botoes_div_secundaria:hover {
  background-image: linear-gradient(to bottom, #37D249, #002D05);
}

.botoes_div_secundaria a {
  text-decoration: none;
  color: inherit; 
}

.botoes_div_secundaria h1 {
  color: white;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
  font-size: 60px;
}



.botao_voltar {
  transition: transform 0.4s ease;
  margin-left: 40px;

  width: 268px;
  height: 0px;
}

.botao_voltar:hover {
  transform: scale(1.04);
}

.botao_voltar a {
  text-decoration: none;
  color: inherit;
}

.botao_voltar h1 {
  background-image: linear-gradient(to bottom, #37D249, #002D05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-top: 40px;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}



.div_jogo_detalhes {
  background-image: url('img/fundo_div_secundaria.png');
  width: 100%; 
  height: 1000px;
  background-size: cover; 
  background-repeat: no-repeat; 

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: 'Press Start 2P', monospace;
  color: white;
}

.container_jogo {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  width: 100%;
}

.coluna_esquerda {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fotinha_do_jogo_tower-defense {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.imagem_tv_moldura {
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;

  height: 480px;
}

.imagem_jogo_tower-defense {
  position: absolute;
  top: 10%;
  left: 9%;
  width: 58%;
  height: 68%;
  object-fit: cover;
  z-index: 2;
  border-radius: 8px;
}

.lista_jogos_lateral {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-left: 80px;
}

.item_jogo_lateral {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
  
  width: 360px;
}

#coisas_menores_1{
  width: 320px;
}

.item_jogo_lateral:hover h4 {
  color: #2e7d32;
}

.miniatura_jogo {
  width: 100px;
  height: 100px;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 4px;
  
}

.coluna_direita {
  flex: 1.2;
}

.card_roxo {
  background: linear-gradient(to bottom, #60038E, #813D9E, #713494, #60038E);
  border-radius: 28px;
  padding: 20px;
  
  height: 800px;
}

.descricao_jogo p {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: justify;
}

.secao_criadores h3 {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.criadores_grid {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.criador_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.foto_criador {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  background-color: #888;
  border: 2px solid #fff;
  overflow: hidden;
}

.foto_criador img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.criador_item p {
  font-size: 30px;
  color: #fff;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
}

.icone_github svg {
  transition: transform 0.2s;
}

.icone_github:hover svg {
  transform: scale(1.1);
}

.botao_download_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn_download {
  display: inline-block;
  background-color: #a5d6a7;
  color: #000;
  padding: 12px 30px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  border: 4px solid #1b5e20;
  box-shadow: inset 0 -4px 0 #66bb6a;
  transition: transform 0.1s;
}

.btn_download:hover {
  transform: scale(1.05);
}